{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="{% static 'images/logo.png' %}" alt="Логотип">
            <h1 class="site-name">ClothesStore</h1>
        </div>
        <div class="nav-right">
            <form id="search-form" action="/catalog/search/" method="GET">
                <input type="text" id="search-input" name="query" placeholder="Введите текст">
                <button type="submit">Найти</button>
            </form>
        </div>
    </nav>

<header class="header">
    <div class="wholesale-text">Оптовая продажа</div>
    <div class="filters">
        <div class="filter-group">
            <label for="min-price">Минимальная цена:</label>
            <input type="number" id="min-price" class="filter-item" value="0">
        </div>
        <div class="filter-group">
            <label for="max-price">Максимальная цена:</label>
            <input type="number" id="max-price" class="filter-item" value="50000">
        </div>
        <div class="filter-group">
            <label for="price-range">Фильтр по цене:</label>
            <input type="range" id="price-range" class="filter-item" value="0">
            <input type="range" id="price-range-max" class="filter-item" value="50000">
            <span id="price-value" class="filter-item">0 сом</span> - <span id="price-value-max" class="filter-item">50 000 сом</span>
        </div>
        <div class="filter-group">
            <label for="category-filter">Фильтр по категории:</label>
            <select id="category-filter" class="filter-item">
                <option value="all">Все категории</option>
            </select>
        </div>
    </div>
</header>




    <main id="product-container">
        <div class="product-list">
            {% for product in products %}
                <div class="product-card" data-name="{{ product.name }}" data-category="{{ product.category.name }}" data-brand="{{ product.brand }}" data-description="{{ product.description }}" data-price="{{ product.price }}" data-image="{{ product.image.url }}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.price|floatformat:2 }} сом</p>
                    <p>Категория: {{ product.category.name }}</p>
                    <p>Бренд: {{ product.brand }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="product-details" style="display: none;">
            <button id="back-btn-top">Назад</button>
            <h2 id="detail-name"></h2>
            <img id="detail-image" src="" alt="">
            <p id="detail-price"></p>
            <p id="detail-category"></p>
            <p id="detail-brand"></p>
            <p id="detail-description"></p>
            <button id="back-btn-bottom">Назад</button>
        </div>
    <div class="pagination-buttons">
        <button id="prev-page-btn" disabled>&lt;&lt;</button>
        <button id="prev-btn" disabled>&lt;</button>
        <span id="page-info">Страница 1 из 10</span>
        <button id="next-btn">&gt;</button>
        <button id="next-page-btn">&gt;&gt;</button>
    </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <p>Связаться с нами:</p>
            <ul>
                <li><img src="{% static 'images/email.png' %}" alt="Email"><a href="gmail:ClothesStore@gmail.com">ClothesStore@gmail.com</a></li>
                <li><img src="{% static 'images/phone.png' %}" alt="Телефон">+9965555555</li>
                <li><img src="{% static 'images/Instagram.png' %}" alt="Instagram"><a href="https://www.instagram.com/ClothesStore/">@ClothesStore</a></li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/return.js' %}"></script>
</body>
</html>
